body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.preloader{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f7f6;
  height: 100vh;
}
.preloader img{
  width: 100%;
  padding-top: 250px;
}

.bg {
  /* bg */
  background: url('img/bg_login.png') no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: contain;
  /* bg end */
}

.hided{
  display: none;
}

/* logo */
.logo img{
  width: 100%;
  padding: 80px 10px;
  margin-bottom: 60px;
}
/* logo end */


.login__group{
  padding: 0 30px;
}
/* buttons */
.login__group button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #d1d2d4;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #018445;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.login__group button:active {
  background-color: #e2e2e4;
}
/* buttons end */

/* input */
.login__group_form{
  padding: 0 30px;
}
.login__group_form span{
  font-size: 12px;
  color: rgb(94, 94, 94);
  margin-bottom: 5px;
}
.login__group_form input{
  width: 100%;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #018445;
}
.login__group_form input:focus{
  outline: none;
}
.login__group_form input:active{
  outline: none;
}

.login__group_form button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #d1d2d4;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #018445;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.login__group_form button:active {
  background-color: #e2e2e4;
}

.login__group_form_qr button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #d1d2d4;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #018445;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login__group_form_qr{
  padding-left: 30px;
}
/* input end */
.login__group_form_qr .warning{
  font-weight: 600;
  color: darkred;
  text-align: center;
}

/* sms-подтверждение */
.sms-form{
  text-align: center;
}
.sms-form p{
  margin-bottom: 80px;
}
.sms-check{
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #018445;
  font-size: 28px;
  color: #d1d2d4;
  outline: none;
}
.sms-form a{
  text-decoration: none;
  font-weight: 600;
  color: #018445;
}


/* second screen */
.second-logo img{
  width: 100%;
  padding: 50px 10px 20px 10px;
}
.top-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-navbar button{
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}
.services__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}
.services__item{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #018445;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  width: 45%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.services__wrapper button:active {
  background-color: #e2e2e4;
}
.services-icon{
  width: 80px;
  margin-bottom: 10px;
}
.desc{
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/* THIRD */
.top-navbar_third{
  background-color: #018445;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.top-navbar_third button{
  color: #fff;
  background-color: transparent;
  border: none;
  padding-top: 20px;
  font-size: 20px;
}
.top-navbar_third p{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-left: 65px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.tutor__item img{
  width: 100%;
}
.tutor__item button{
  border: 0;
  background-color: #018445;
  width: 100%;
  text-align: left;
  color: #fff;
  margin-bottom: 3px;
  font-weight: 600;
}

/* FOUR */

.top-navbar_dms{
  background-color: #018445;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.top-navbar_dms button{
  color: #fff;
  background-color: transparent;
  border: none;
  padding-top: 20px;
  font-size: 20px;
}
.top-navbar_dms p{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-left: 25px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.dms_title{
  font-size: 14px;
  font-weight: bold;
  color: #b6b6b6;
  margin-bottom: 5px;
}
.dms_info{
  border-bottom: 1px solid #018445;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.dms_info img{
  width: 35px;
}
.dms-description-btn{
  cursor: pointer;
  display: block;
  border: 0;
  padding: 8px;
  height: 40px;
  border-radius: 5px;
  background-color: #018445;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3px;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dms-description-btn:active{
  background-color: #00522a;
}
